@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.commentbox{

   display: flex;
   border: rgb(151, 151, 151) solid 1px;
   opacity: 1;
   border-radius: 5px;
   padding: 1%;
   margin-top: 0.5%;
 }
